allow init wpa_socket:unix_dgram_socket { bind create };
allow init su_exec:file { execute_no_trans };
allow init init:process { execmem };
#allow init init:capability { sys_ptrace };

allow init_shell kernel:system { syslog_mod };


